@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans-VariableFont_wght.ttf");
  font-weight: 100 1000;
}

* {
  font-family: "Public Sans";
}

.light-grey {
  color: hsl(0, 0%, 98%);
}

.bg-light-grey {
  background-color: hsl(0, 0%, 98%);
}

.grayish-blue {
  color: hsl(233, 8%, 62%);
}

.light-grayish-blue {
  color: hsl(220, 16%, 96%);
}

.brigth-cyan {
  color: hsl(192, 70%, 51%);
}

.dark-blue {
  color: hsl(233, 26%, 24%);
}

.lime-green {
  color: hsl(136, 65%, 51%);
}

.gradient {
  background: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.gradient:hover {
  filter: contrast(125%);
}

.bottom-border-hover:hover {
  border-image-slice: 7;
  border-image-width: 0 0 3px 0;
  border-image-source: linear-gradient(
    to left,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.bg-intro {
  position: relative;
  top: -20px;
  right: calc(-25%);
  transform: scale(1.5);
}

.mockups {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 750px;
}
