---
// Component Imports
import HeroSection from "../components/HeroSection";
import WhyChooseSection from "../components/WhyChooseSection";
import ArticleSection from "../components/ArticleSection";
import Main from "../layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main title="Easybank">
  <HeroSection client:visible />
  <WhyChooseSection client:visible/>
  <ArticleSection />
</Main>
