---
// Component Imports
import HeroSection from "../components/HeroSection";
import Main from "../layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main title="Easybank">
  <HeroSection />
</Main>
